<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857594868601-5b4u6cj4vuk1424ar5nrl02fbsb9oiet.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857594868601-5b4u6cj4vuk1424ar5nrl02fbsb9oiet</string>
	<key>API_KEY</key>
	<string>AIzaSyBWMnNoXtanfh0q-UjU_bmOajOh1DsXtyU</string>
	<key>GCM_SENDER_ID</key>
	<string>857594868601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Firebase-CRUD.Firebase-CRUD</string>
	<key>PROJECT_ID</key>
	<string>fir-crud-9cb53</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-crud-9cb53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857594868601:ios:68161964cb1d2d81</string>
	<key>DATABASE_URL</key>
	<string>https://fir-crud-9cb53.firebaseio.com</string>
</dict>
</plist>